.bg-login {
    height: 100vh;
    width: 100%;
    background-color: #1890ff;
    padding: 120px;
    .login-screen {
        justify-content: center;
        background-color: white;
        padding: 30px 0;
        border-radius: 30px;
        .welcome {
            font-size: 4.5rem;
            font-size: bold;
            font-weight: 700;
            letter-spacing: 4px;
            color: #1890ff;
        }
        .name-game {
            display: flex;
            letter-spacing: 10px;
            .c {
                font-size: 4rem;
                font-weight: 900;
            }
            .a {
                font-size: 4rem;
                font-weight: 900;
                padding: 15px;
            }
            .r {
                font-size: 4rem;
                font-weight: 900;
            }
            .o {
                font-size: 4rem;
                font-weight: 900;
                padding: 15px;
            }
            .online {
                font-size: 4rem;
                font-weight: 800;
                padding-top: 40px;
                letter-spacing: 0px !important;
            }
        }
        .board {
            display: flex;
            .xo {
                display: flex;
                .x {
                    border: 1px solid white;
                    font-size: 3rem;
                    padding: 15px;
                    background-color: #1890ff;
                }
                .o {
                    border: 1px solid white;
                    font-size: 3rem;
                    padding: 15px;
                    background-color: white;
                    color: #1890ff;
                }
            }
            .loser {
                font-size: 4rem;
                font-weight: 500;
                letter-spacing: 5px;
                margin-left: 30px;
                text-decoration-line: line-through;
            }
            .winner {
                font-size: 4rem;
                font-weight: 500;
                letter-spacing: 5px;
                margin-left: 30px;
                color: #1890ff;
                margin-left: -70px;
                margin-top: 90px;
            }
        }
        .form-login{
            display: flex;
        }
    }
}
